* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 版面配置 */

body {
    font-family: "微軟正黑體";
}

#content {
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
}

#top {
    height: 50px;
    width: 100%;
    text-align: center;
}

#container {
    padding-top: 50px;
    margin-bottom: -70px;
    min-height: 100vh;
    padding-bottom: 90px;
}

#footer {
    height: max-content;
    background-color: rgb(248, 255, 157);
    padding: 15px;
}

h1 {
    text-align: center;
}

.curP {
    cursor: pointer;
}

section {
    margin-top: 2%;
    margin-bottom: 2%;
}

.hiddenScrollY {
    overflow-y: hidden !important;
}

.scale2 {
    transform: scale(2) !important;
}

.scale3 {
    transform: scale(3) !important;
}

/* 前台表單樣式 */

#menuBox {
    position: relative;
}

.menuItem {
    display: inline-block;
    height: 100%;
    width: 150px;
    padding: 25px 10px;
}

.menuItem a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.3rem;
    color: black;
}

.menuItem a:hover {
    text-shadow: 0 0 6px #666;
}

.menuLogin {
    position: absolute;
    top: 0;
    right: 30px;
}

.menuLogin a {
    color: white;
}

.subMenu {
    display: none;
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

/* 前台底部樣式 */

#footer > .row > div {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/* 公開文章(列表)用樣式 */

.listPostItem {
    padding: 15px;
}

.listPostItem h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.listPostItem > div {
    padding: 6px;
    background-color: honeydew;
    transition: box-shadow 0.6s;
    cursor: pointer;
}

.listPostItem > div:hover {
    box-shadow: 3px 3px 6px #666;
}

.listPostTagBox {
    padding: 5px;
    width: 100%;
    overflow-x: auto;
    height: 63px;
}

.listPostTagBox > div {
    width: max-content;
}

.listPostTag {
    display: inline-block;
    width: auto;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin: 5px;
    padding: 2px 5px;
    font-size: small;
}

.listPostCreateTime {
    text-align: end;
}

.postImage {
    height: 200px;
    overflow: hidden;
}

/* .postImage > img {
    height: 200px;
    max-width: none;
} */

/* 文章編輯頁面 */

.tagBox {
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
}

.tagBox.show {
    cursor: pointer;
    transition: all 0.5s;
}

.tagBox.show:hover {
    box-shadow: 2px 2px 2px #666;
}

.tagBox > .tag {
    display: inline-block;
}

#postCover {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.ali-l {
    text-align: left;
}

.ali-r {
    text-align: right;
}

/* 相簿一覽樣式 */

.albumListItem {
    padding: 7px;
    text-align: center;
}

.albumListItem > div {
    border: 2px solid #666;
    /* border-radius: 20px; */
    padding: 7px;
    transition: all 0.5s;
    cursor: pointer;
}
.albumListItem > div:hover {
    box-shadow: 3px 3px 3px #666;
}

.albumListItem .h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.albumListItem img {
    margin: auto;
}
.albumListItem .cover {
    height: 154px;
    overflow: hidden;
}
#albumMenu > div {
    margin-left: 35px;
}
#albumMenu > div > ul > li {
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

#albumMenu .yearItem {
    list-style-type: disclosure-closed;
    transition: all 0.5s;
}
#albumMenu .yearItem:hover {
    text-shadow: 0 0 6px #666;
}

#albumMenu .yearItem.open {
    list-style-type: disclosure-open !important;
}

#albumMenu > div > ul > ul {
    height: 0;
    overflow-y: hidden;
    padding-left: 25px;
    list-style-type: circle;
    transition: height 0.5s;
    width: fit-content;
}
/* 相簿照片一覽樣式 */

.photoBox {
    padding: 5px;
    cursor: pointer;
}

.photoBox > .cover {
    height: 205px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.photoBox > .cover > img {
    height: 100%;
    width: auto;
    max-width: max-content;
}

#fullPhoto {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

#fullPhoto h4,
#fullPhoto h6 {
    color: white;
    text-align: center;
}

#fullPhoto img {
    margin: auto;
    max-height: 500px;
}

/* 頁面移動按鈕樣式 */

#goBack {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    width: 75px;
    height: 50px;
    background-color: crimson;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 3px #666;
    cursor: pointer;
    transition: all 0.5s;
}

#goBack:hover {
    box-shadow: 4px 4px 10px #666;
    transform: translateY(-3px);
}

#goBack > div:first-child {
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-radius: 2px;
    transform: rotate(-45deg) translate(11px, 11px);
    width: 25px;
    height: 25px;
}

#goBack > div:last-child {
    width: 36px;
    height: 0;
    border: 2px solid white;
    border-radius: 20px;
    transform: translateX(-10px);
}

/* 商品內容頁面 */
.typeBox {
    border-bottom: 1px solid aqua;
    padding: 3px;
    margin-top: 5px;
}

#mediaArea {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}

#ctrlRight {
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ctrlLeft {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ctrlRight > i,
#ctrlLeft > i {
    transform: scale(2);
    transition: all 0.2s;
}

#ctrlRight > i:hover,
#ctrlLeft > i:hover {
    text-shadow: 2px 2px 3px #666;
    transition: all 0.2s;
}

#mediaBox {
    background-color: white;
    grid-column-start: 2;
    position: relative;
    height: 290px;
    /* padding: 5px; */
    border: 1px solid #666;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mediaBox > img {
    position: absolute;
    z-index: -1;
}

.onTop {
    z-index: 100 !important;
}

#typeSelect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
}

#typeSelect > div {
    border: 2px solid #666;
    background-color: white;
    border-radius: 20px;
    height: auto;
    padding: 25px 25px 50px;
}
#typeSelect div[class^="col"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectItem {
    border-bottom: 1px solid aqua;
    margin: 10px 0;
    padding: 5px 0;
}

.orderNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 42px;
    border: 1px solid aqua;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: inset -3px -5px 3px #ccc;
}

.orderNumber input {
    border: none;
}

/* .orderNumber > div:first-child {


} */

.orderNumber > div:nth-child(2) {
    border-right: 1px solid aqua;
    border-left: 1px solid aqua;
}

/* .orderNumber > div:last-child {
    padding: 5px 15px;
} */

.reduceNum,
.addNum {
    padding: 5px 15px;
    height: 42px;
    width: 49px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.reduceNum:active,
.addNum:active {
    background-color: white;
}

.categoryBox > a {
    display: inline-block;
    margin: 5px 10px 7px 25px;
    background-color: crimson;
    font-weight: 600;
    color: white;
    padding: 7px 30px;
}

.categoryBox > a:hover {
    background-color: coral;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

/* 購物車狀態 */

#cart {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#cart i {
    transform: scale(3);
    color: coral;
    /* text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
        0 0 1px black; */
}

#cartCount {
    transform: translate(27px, 20px);
    width: 25px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
    height: 25px;
    background: coral;
    color: white;
    font-weight: 900;
}

#cartMessage {
    position: absolute;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    font-weight: 900;
    padding: 5px 25px 52px;
    transform: translate(-22px, 24px);
    bottom: 0;
}

.checkItem {
    border: 1px solid aqua;
    padding: 7px;
}

#twzipcode > select {
    margin-right: 20px;
}

.freight {
    margin-left: 10px;
    font-size: 0.85rem;
}

.textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #666;
    overflow: auto;
}

.textarea:empty::before {
    content: attr(placeholder);
    color: #666;
}
